@import "bpmn-js/dist/assets/diagram-js.css";
@import "bpmn-js/dist/assets/bpmn-font/css/bpmn.css";
@import "bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css";
@import "bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css";
@import "bpmn-js-token-simulation/assets/css/bpmn-js-token-simulation.css";
@import "bpmn-js-bpmnlint/dist/assets/css/bpmn-js-bpmnlint.css";
@import "diagram-js-minimap/assets/diagram-js-minimap.css";

.bpmn-modeler {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  .bjs-powered-by {
    display: none;
  }
  .djs-palette {
    top: 70px;
  }
  .djs-minimap {
    top: unset;
    bottom: 20px;
    .toggle {
      padding: 6px;
    }
  }
  .bts-toggle-mode {
    top: unset;
    bottom: 20px;
  }
  .bts-notifications {
    bottom: 60px;
  }

  .bpmn-canvas {
    height: 100%;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImEiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTTAgMTBoNDBNMTAgMHY0ME0wIDIwaDQwTTIwIDB2NDBNMCAzMGg0ME0zMCAwdjQwIiBmaWxsPSJub25lIiBzdHJva2U9IiNlMGUwZTAiIG9wYWNpdHk9Ii4yIi8+PHBhdGggZD0iTTQwIDBIMHY0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIi8+PC9wYXR0ZXJuPjwvZGVmcz48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2EpIi8+PC9zdmc+)
      repeat !important;
  }
  .bpmn-form {
    height: 100%;
    overflow-y: auto;
    padding-left: 10px;
  }
  .bpmn-tools {
    position: absolute;
    top: 20px;
    left: 20px;
    .xml-uploader {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
    }
    .xml-editor {
      .confirm-btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
  }
}
